.BLOG__wrapper {
  display: flex;
  margin: auto;
  max-width: 1420px;
  overflow: hidden; }

.BLOG__header {
  background-image: linear-gradient(to bottom right, rgba(35, 31, 32, 0.7), rgba(191, 30, 46, 0.7), rgba(35, 31, 32, 0.7)), url("images/blog0.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem; }

.BLOG__posts {
  width: 75%;
  margin: 0 auto; }
  .BLOG__posts .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.BLOG__card {
  background: rgba(35, 31, 32, 0.3);
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 3rem 3rem 3rem;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  position: relative;
  transition: .3s;
  border: solid 2px transparent; }
  .BLOG__card .outline {
    transition: .5s linear;
    z-index: -1; }
    .BLOG__card .outline:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 50%;
      background-color: #000;
      transition-delay: .2s; }
    .BLOG__card .outline:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 0%;
      background-color: #000; }
    .BLOG__card .outline:nth-child(3) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0%;
      height: 50%;
      background-color: #000;
      transition-delay: .2s; }
    .BLOG__card .outline:nth-child(4) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 0%;
      background-color: #000; }
  .BLOG__card img {
    height: 150px;
    width: 75%;
    object-fit: cover;
    border: solid 2px #fffbfc;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1.5rem;
    transition: .3s;
    display: block; }
  .BLOG__card:hover {
    background: transparent;
    border: solid 2px #fffbfc;
    box-shadow: 0 5px 30px rgba(35, 31, 32, 0.4);
    transition-delay: .3s; }
  .BLOG__card:hover .outline:nth-child(1), .BLOG__card:hover .outline:nth-child(3) {
    width: 100%; }
  .BLOG__card:hover .outline:nth-child(2), .BLOG__card:hover .outline:nth-child(4) {
    height: 100%; }
  .BLOG__card:hover img {
    box-shadow: 0 0 30px rgba(255, 251, 252, 0.4);
    border: solid 2px #fffbfc;
    transform: scale(1.05);
    transition-delay: .5s; }
  .BLOG__card:hover .btn {
    box-shadow: none;
    transform: scale(1.1);
    color: #bf1e2e;
    transition-delay: .5s; }
  .BLOG__card h1 {
    text-align: center; }
  .BLOG__card .btn {
    background: transparent; }
  .BLOG__card .btn::after {
    display: none; }

.SIDEBAR {
  background: rgba(35, 31, 32, 0.3);
  width: 25%;
  margin-right: 0;
  align-self: auto;
  border-radius: 10px 0 0 0;
  padding: 1.5rem; }

@media (max-width: 1150px) {
  .BLOG__card h1 {
    font-size: 4rem; } }

@media (max-width: 1075px) {
  .BLOG__wrapper {
    flex-direction: column; }
  .BLOG__posts {
    width: 100%; }
  .SIDEBAR {
    width: 100%;
    border-radius: 0; } }

@media (max-width: 800px) {
  .BLOG__posts .container {
    flex-direction: column;
    padding: 1.5rem; }
  .BLOG__card {
    display: block;
    width: 100%;
    margin: 1.5rem auto; } }
